# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore environment files
.env

# Ignore macOS files
.DS_Store

# Ignore build folders
.dist/

# Ignore generated outputs
*.xlsx
*.csv
*.zip